body{
	background-image: url("../images/lightspeed.jpg");
	background-position: center;
	
}	

img{
	height: 200px;
	width: 200px;
	float: left;
}

.text-center{
	color: #ffe81f;
}

p{
	color: red;
}

#user-info{
	margin-left: 350px;
}

#enemy-info{
	margin-left: 350px;
}

#battle-info{
	margin-left: 350px;
}



